body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-weight: 500;
}

.select {
  padding: 14px;
  background-color: rgb(208, 232, 241);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 16px;
}

.pokeName {
  font-size: 20px;
}